<!DOCTYPE html>
<html lang="en">
    {%load static%}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GMS - Garage Management System</title>
    <link
      rel="stylesheet"
      href="{%static 'assets/bootstrap-5.0.2-dist/css/bootstrap.min.css'%}"
    />
    <link rel="stylesheet" href="{%static 'assets/css/main.css'%}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap"
      rel="stylesheet"
    />
    <script src="{%static 'assets/bootstrap-5.0.2-dist/js/bootstrap.bundle.js'%}"></script>
  </head>
  <body>
    <header class="full_nav">
      <div class="header">
        <div class="">
          <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <div class="container">
              <a class="navbar-brand ms-3" href="/">
                <img src="{%static 'assets/images/logo.png'%}" alt="logo" />
              </a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarScroll"
                aria-controls="navbarScroll"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse float-end" id="navbarScroll">
                <div class="ms-auto">
                  <ul
                    class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
                    style="--bs-scroll-height: 100px"
                  >
                    <li class="nav-item">
                      <a
                        class="nav-link active nav-text"
                        aria-current="page"
                        href="aboutus/"
                        >About Us</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link active nav-text"
                        aria-current="page"
                        href="contactus.html"
                        >Contact Us</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link active nav-text"
                        aria-current="page"
                        href="#"
                      >
                        <img src="{%static 'assets/images/login.png'%}" alt="" />
                        Log In / Sign Up</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div style="margin-top: 80px"></div>
      </div>
    </header>
    <div class="container-fluid" style="background-color: red">
      <div class="container">
        <h1>About Us</h1>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
        tempore porro. Deserunt modi eligendi optio nam reiciendis. Architecto,
        quasi explicabo autem assumenda eaque deserunt consectetur eligendi,
        ratione voluptates excepturi obcaecati. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Commodi quod sequi, repellendus corrupti
        in assumenda vitae, cupiditate quos illo minima pariatur? Sed aliquam,
        odio ea debitis eius possimus totam perferendis.
      </p>
      <div class="h-100">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit nisi
          ex ab ipsa sequi, nobis placeat dolorem quam quisquam. Itaque aliquid,
          esse eius doloremque harum dolore animi praesentium laudantium
          facilis?
        </p>
      </div>
      <div class="" style="height: 100vh">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit nisi
          ex ab ipsa sequi, nobis placeat dolorem quam quisquam. Itaque aliquid,
          esse eius doloremque harum dolore animi praesentium laudantium
          facilis?
        </p>
      </div>
    </div>
  </body>
</html>
