<!DOCTYPE html>
<html lang="en">
    {%load static%}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GMS - Garage Management System</title>
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/vendorcrm.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="{% static 'assets/bootstrap-5.0.2-dist/js/bootstrap.bundle.jss' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body>
    <div class="sidebar active">
      <div class="logo_content">
        <div class="logo">
          <div class="logo_name">
            <img src="{% static 'assets/images/logo_white.svg' %}" height="50" alt="logo" />
          </div>
        </div>
        <img
          class="bx bx-menu"
          src="{% static 'assets/images/nav_menu.svg' %}"
          height="30"
          id="btn"
        />
      </div>
      <ul class="nav_list">
        <li class="search_bar">
          <i class="bx bx-search"></i>
          <input type="text" placeholder="search heare...." />
          <!-- <span class="tooltip">Search</span> -->
        </li>
        <li>
          <a href="#" class="selected">
            <img
              src="{% static 'assets/images/icons/ic_round-home.svg' %}"
              height="30"
              alt=""
              class="imgselected"
            />
            <span class="links_name">Dashboard</span>
          </a>
          <!-- <span class="tooltip">Dashboard</span> -->
        </li>
        <li>
          <a href="#">
            <img
              src="{% static 'assets/images/icons/Frame (2).svg' %}"
              height="30"
              alt=""
            />
            <span class="links_name">Shop</span>
          </a>
          <!-- <span class="tooltip">Shop</span> -->
        </li>
        <li>
          <a href="#">
            <img
              src="{% static 'assets/images/icons/Frame (1).svg' %}"
              height="30"
              alt=""
            />
            <span class="links_name">Orders</span>
          </a>
          <!-- <span class="tooltip">Orders</span> -->
        </li>
        <li>
          <a href="#">
            <img
              src="{% static 'assets/images/icons/Frame (3).svg' %}"
              height="30"
              alt=""
            />
            <span class="links_name">Leads</span>
          </a>
          <!-- <span class="tooltip">Leads</span> -->
        </li>
        <li>
          <a href="/store/product-list">
            <img
              src="{% static 'assets/images/icons/Frame (4).svg' %}"
              height="30"
              alt=""
            />
            <span class="links_name">Inventory</span>
          </a>
          <!-- <span class="tooltip">Inventory</span> -->
        </li>
        <li>
          <a href="#">
            <img
              src="{% static 'assets/images/icons/Frame (5).svg' %}"
              height="30"
              alt=""
            />
            <span class="links_name">Account</span>
          </a>
          <!-- <span class="tooltip">Account</span> -->
        </li>
        <li>
          <a href="#">
            <img
              src="{% static 'assets/images/icons/Frame (6).svg' %}"
              height="30"
              alt=""
            />
            <span class="links_name">Report</span>
          </a>
          <!-- <span class="tooltip">Report</span> -->
        </li>
        <li>
          <a href="#">
            <img
              src="{% static 'assets/images/icons/Frame (7).svg' %}"
              height="30"
              alt=""
            />
            <span class="links_name">Option</span>
          </a>
          <!-- <span class="tooltip">Option</span> -->
        </li>
      </ul>
    </div>
    <div class="home_content">
      <header class="full_nav">
        <div class="dashboard header">
          <div class="">
            <nav class="navbar bg-white p-3">
              <a href="" class="text-decoration-none">
                <img
                  src="{% static 'assets/images/icons/ic_round-home_red.svg' %}"
                  class="p-2"
                  height="40"
                  alt="logo"
                />
                <span class="text-dark nav_heading">Dashboard</span>
              </a>
              <div class="">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a
                      class="nav-link active nav-text text-decoration-none"
                      aria-current="page"
                      href="#"
                      id="profilebtn"
                    >
                      <span class="text-dark nav_heading">{{request.user.first_name}}</span>
                      <select name="" class="border-0" id=""></select>
                    </a>
                    <div class="profile_popup">
                      <div class="profile_name">
                        <img
                          src="{% static 'assets/images/Ellipse 21.svg' %}"
                          height="80"
                          alt=""
                        />
                        <div>
                            <p class="p-0 m-0 username">{{request.user.first_name}}</p>
                            <span class="useremail">{{request.user.email}}</span>
                        </div>
                      </div>
                      <div class="profile_actions">
                        <a href="/users/edit_profile/{{request.user.username}}" class="text-decoration-none">
                          <button class="btn editbtn">Edit Profile</button>
                        </a>
                        <a href="{% url 'logout' %}" class="text-decoration-none">
                          <button class="btn lgoutbtn">Log Out</button>
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </header>
      <section class="content-section">
        <div
          class="d-flex justify-content-between align-content-center flex-wrap pb-4"
        >
          <div class="dashcard orderscard m-1">
            <div class="cardicon">
              <img
                src="{% static 'assets/images/icons/orderscard_ic.svg' %}"
                alt="orders"
                height="50"
              />
            </div>
            <div class="cardname_no"><span>22</span>Orders</div>
          </div>
          <div class="dashcard garagescard m-1">
            <div class="cardicon">
              <img
                src="{% static 'assets/images/icons/garagecard_ic.svg' %}"
                alt="garages"
                height="50"
              />
            </div>
            <div class="cardname_no"><span>22</span>Garages</div>
          </div>
          <div class="dashcard productscard m-1">
            <div class="cardicon">
              <img
                src="{% static 'assets/images/icons/productcard_ic.svg' %}"
                alt="products"
                height="50"
              />
            </div>
            <div class="cardname_no"><span>22</span>Products</div>
          </div>
          <div class="dashcard inventorycard m-1">
            <div class="cardicon">
              <img
                src="{% static 'assets/images/icons/inventrycard_ic.svg' %}"
                alt="inventory"
                height="50"
              />
            </div>
            <div class="cardname_no">
              <span>22</span>
              Inventory
            </div>
          </div>
          <div class="dashcard reportcard m-1">
            <div class="cardicon">
              <img
                src="{% static 'assets/images/icons/reportscard_ic.svg' %}"
                alt="report"
                height="50"
              />
            </div>
            <div class="cardname_no"><span>22</span>Report</div>
          </div>
        </div>
        <!--  -->
        <div class="row pb-4">
          <div class="col-lg-5 col-md-12 p-2">
            <div class="quickcards todaysorder p-3">
              <h6>Today’s Orders</h6>
              <ul class="list-unstyled m-0">
                <li class="d-flex justify-content-between align-items-end">
                  <div class="">
                    <h6 class="p-0 m-0">Ashish Dube</h6>
                    <span>+91 XXXX XXXXX</span>
                  </div>
                  <div>
                    <p class="p-0 m-0">Steering</p>
                    <span class="fw-bolder">Qty. : 06</span>
                  </div>
                  <div>
                    <span class="fw-bolder">₹6,000.00</span>
                  </div>
                  <div class="actionbtn">
                    <button class="btn btn-accept">Accept</button>
                    <button class="btn btn-deny">Deny</button>
                  </div>
                </li>
                <li class="d-flex justify-content-between align-items-end">
                  <div class="">
                    <h6 class="p-0 m-0">Rohit sharma</h6>
                    <span>+91 XXXX XXXXX</span>
                  </div>
                  <div>
                    <p class="p-0 m-0">Steering</p>
                    <span class="fw-bolder">Qty. : 12</span>
                  </div>
                  <div>
                    <span class="fw-bolder">₹4,000.00</span>
                  </div>
                  <div class="actionbtn">
                    <button class="btn btn-accept">Accept</button>
                    <button class="btn btn-deny">Deny</button>
                  </div>
                </li>
                <li class="d-flex justify-content-between align-items-end">
                  <div class="">
                    <h6 class="p-0 m-0">Bhargav Sharma</h6>
                    <span>+91 XXXX XXXXX</span>
                  </div>
                  <div>
                    <p class="p-0 m-0">Steering</p>
                    <span class="fw-bolder">Qty. : 16</span>
                  </div>
                  <div>
                    <span class="fw-bolder">₹3,450,00</span>
                  </div>
                  <div class="actionbtn">
                    <button class="btn btn-accept">Accept</button>
                    <button class="btn btn-deny">Deny</button>
                  </div>
                </li>
                <li class="d-flex justify-content-between align-items-end">
                  <div class="">
                    <h6 class="p-0 m-0">Rajveer mishra</h6>
                    <span>+91 XXXX XXXXX</span>
                  </div>
                  <div>
                    <p class="p-0 m-0">Steering</p>
                    <span class="fw-bolder">Qty. : 06</span>
                  </div>
                  <div>
                    <span class="fw-bolder">₹9,990.00</span>
                  </div>
                  <div class="actionbtn">
                    <button class="btn btn-accept">Accept</button>
                    <button class="btn btn-deny">Deny</button>
                  </div>
                </li>
                <li class="d-flex justify-content-between align-items-end">
                  <div class="">
                    <h6 class="p-0 m-0">Rajveer mishra</h6>
                    <span>+91 XXXX XXXXX</span>
                  </div>
                  <div>
                    <p class="p-0 m-0">Steering</p>
                    <span class="fw-bolder">Qty. : 06</span>
                  </div>
                  <div>
                    <span class="fw-bolder">₹9,990.00</span>
                  </div>
                  <div class="actionbtn">
                    <button class="btn btn-accept">Accept</button>
                    <button class="btn btn-deny">Deny</button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-5 p-2">
            <div class="quickcards todaysleads p-3">
              <div class="d-flex justify-content-between">
                <h6 class="p-0 m-0">Toady’s Leads</h6>
                <button class="btn btn-primary">View all</button>
              </div>
              <ul class="list-unstyled m-0">
                <span class="text-blue">Via Call</span>
                <li class="d-flex justify-content-between align-items-end">
                  <div class="">
                    <h6 class="p-0 m-0">Rajveer mishra</h6>
                    <span>+91 XXXX XXXXX</span>
                  </div>
                  <div class="actionbtn">
                    <div>
                      <button class="btn btn-accept">Call Back</button>
                    </div>
                    <p class="p-0 m-0">03:10</p>
                  </div>
                </li>
                <li class="d-flex justify-content-between align-items-end">
                  <div class="">
                    <h6 class="p-0 m-0">Ashish Dube</h6>
                    <span>+91 XXXX XXXXX</span>
                  </div>
                  <div class="actionbtn">
                    <div>
                      <button class="btn btn-accept">Call Back</button>
                    </div>
                    <p class="p-0 m-0">12:12</p>
                  </div>
                </li>
              </ul>
              <ul class="list-unstyled m-0">
                <span class="text-blue">Via SMS</span>
                <li class="d-flex justify-content-between align-items-end">
                  <div class="">
                    <h6 class="p-0 m-0">Rajveer mishra</h6>
                    <span>+91 XXXX XXXXX</span>
                  </div>
                  <div class="actionbtn">
                    <div>
                      <button class="btn btn-accept">Call Back</button>
                    </div>
                    <p class="p-0 m-0">13:25</p>
                  </div>
                </li>
                <li class="d-flex justify-content-between align-items-end">
                  <div class="">
                    <h6 class="p-0 m-0">Ashish Dube</h6>
                    <span>+91 XXXX XXXXX</span>
                  </div>
                  <div class="actionbtn">
                    <div>
                      <button class="btn btn-accept">Call Back</button>
                    </div>
                    <p class="p-0 m-0">11:45</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-7 p-2">
            <div class="quickcards productstatus p-3">
              <h6>Product Status</h6>
              <table class="table">
                <thead class="">
                  <tr>
                    <th scope="col">Product ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Qty. In Stock</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>001</td>
                    <td>Steering</td>
                    <td class="text-end okstock">99</td>
                  </tr>
                  <tr>
                    <td>002</td>
                    <td>Seat Cover</td>
                    <td class="text-end lowstock">05</td>
                  </tr>
                  <tr>
                    <td>003</td>
                    <td>Wind Shield</td>
                    <td class="text-end okstock">305</td>
                  </tr>
                  <tr>
                    <td>004</td>
                    <td>Gear Boxd</td>
                    <td class="text-end okstock">12</td>
                  </tr>
                  <tr>
                    <td>005</td>
                    <td>Wheel Cover</td>
                    <td class="text-end okstock">287</td>
                  </tr>
                  <tr>
                    <td>006</td>
                    <td>Wheel</td>
                    <td class="text-end lowstock">00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="row pb-4">
          <div class="col-lg-8 p-2">
            <div class="quickcards saleschart p-3">
              <h6 class="p-0 m-0">Sales</h6>
              <div id="chart"></div>
            </div>
          </div>
          <div class="col-lg-4 p-2">
            <div class="quickcards ongoingorders p-3">
              <div class="d-flex justify-content-between">
                <h6 class="p-0 m-0">Ongoing Orders</h6>
                <button class="btn btn-primary">View all</button>
              </div>
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <span class="text-color-blue">Ashish Dube</span>
                      <br />
                      <span>Steering</span>
                    </td>
                    <td class="align-bottom fw-bolder">Qty. : 06</td>
                    <td class="text-end okstock">
                      <span class="text-color-blue">+91 XXXX XXXXX</span>
                      <br />
                      <span>₹6,000.00</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-color-blue">Rohit sharma</span>
                      <br />
                      <span>Steering</span>
                    </td>
                    <td class="align-bottom fw-bolder">Qty. : 16</td>
                    <td class="text-end okstock">
                      <span class="text-color-blue">+91 XXXX XXXXX</span>
                      <br />
                      <span>₹6,000.00</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-color-blue">Ayush mehta</span>
                      <br />
                      <span>Steering</span>
                    </td>
                    <td class="align-bottom fw-bolder">Qty. : 09</td>
                    <td class="text-end okstock">
                      <span class="text-color-blue">+91 XXXX XXXXX</span>
                      <br />
                      <span>₹6,000.00</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="text-color-blue">Divya shah</span>
                      <br />
                      <span>Steering</span>
                    </td>
                    <td class="align-bottom fw-bolder">Qty. : 15</td>
                    <td class="text-end okstock">
                      <span class="text-color-blue">+91 XXXX XXXXX</span>
                      <br />
                      <span>₹6,000.00</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum enim
          laboriosam consectetur molestiae porro id. Neque, nobis hic
          reprehenderit aspernatur harum corrupti ratione nihil nulla cumque
          commodi quidem autem culpa optio rerum molestiae eos dicta suscipit ex
          beatae earum itaque veritatis soluta! Error cum eum, sequi sit quas
          itaque laudantium.
        </p>
      </section>
      <footer>
        <div
          class="footer-terms-rights fixed-bottom"
          style="background-color: #d9d9d9"
        >
          <div class="container">
            <nav class="navbar d-flex">
              <!-- <span class="navbar-text text-dark"
                >© 2023 Autoz365 | All Rights Reserved</span> -->
              <div class="ms-auto">
                <!-- <a href="" class="me-2 text-decoration-none">
                  <span class="navbar-text text-dark">T&C</span>
                </a>
                <a href="" class="me-2 text-decoration-none">
                  <span class="navbar-text text-dark">Sitemap</span>
                </a> -->
                <a href="" class="me-2 text-decoration-none">
                  <span class="navbar-text text-dark"
                    >Powered by <span class="autoz_footer_text">Autoz</span
                    ><span class="a365_footer_text">365</span></span
                  >
                </a>
              </div>
            </nav>
          </div>
        </div>
      </footer>
    </div>
    <script src="{% static 'assets/js/inventory.js'%}"></script>
  </body>
</html>
